.footer {
  background: $background-color;
  padding-top: 60px;
}

.footer-address-link {
  display: block;
  margin-bottom: 10px;
  width: 231px;
  font-style: normal;
  @include font();
  letter-spacing: 0.03em;
  color: $color-dark-theme;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-mail {
  font-style: normal;
  @include font();
  letter-spacing: 0.03em;
  color: $footer-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-bottom: 10px;
  width: 231px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-tel {
  font-style: normal;
  @include font();
  letter-spacing: 0.03em;
  color: $footer-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-bottom: 10px;
  width: 231px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.position {
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
}

.social-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.social-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-dark-theme;
}

.form-container {
  margin-left: 109px;

  &-text {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-dark-theme;
    margin-bottom: 20px;
  }

  &-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &-input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &-btn {
    width: 200px;
  }

  &-svg-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }
}
